@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');
*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-family: outfit ;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color : inherit;
}
.app{
  width:  80%;
  margin: auto;
}