.navbar{
    padding:20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    gap: 20px; 
    list-style: none;  
    color: #49557e; 
    font-size: 18px;                      
}
.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}